<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" href="../../css/layout.css" />
<link rel="stylesheet" href="../../css/style.css" />
<title>社員管理システム</title>
</head>
<body class="list">
	<header>
		<div class="content">
			<div class="title">社員管理システム</div>
			<div class="user_info">ようこそ、<a href="../update/update_input.html">田中二郎</a>さん<span class="pipeline">|</span><a href="../index.html">ログアウト</a>
			</div>
		</div>
	</header>

<ul id="nav">
  <li><a href="#">勤怠管理</a></li>
  <li><a href="#">掲示板</a></li>
  <li><a href="#">顧客情報管理</a></li>
  <li><a href="#">電子契約書</a></li>
   <li><a href="#">todoリスト</a></li>
    <li><a href="#">社員登録</a></li>
</ul>
	<div class="content">
	
	<aside class="search">
			<div class="title">社員名検索</div>
			<div class="form">
				<form action="list.html">
					<input type="text" name="empName" />
					<input type="submit" value="検索" />
				</form>
			</div>
			<div class="title">部署名検索</div>
			<div class="form">
				<form action="list.html">
					<select name="deptId">
						<option value="1" selected="selected">営業部</option>
						<option value="2">経理部</option>
						<option value="3">総務部</option>
					</select>
					<input type="submit" value="検索" />
				</form>
			</div>
		</aside>

		<article class="main">
			<h3 class="page_title">電子契約書詳細</h3>
      
      
      
        <div class="update">
				<div class="form">
					<div class="label">契約書ID：</div>
					<div class="input">1</div>
				</div>
				<div class="form">
					<div class="label">担当者名：</div>
					<div class="input">cccccc</div>
				</div>
				<div class="form">
					<div class="label">契約成立日：</div>
					<div class="input">2020年7月28日</div>
				</div>
				<div class="form">
					<div class="label">売上金額：</div>
					<div class="input">2億円</div>
				</div>
				
				<div class="form">
					<div class="label">承認：</div>
					<div class="input">済</div>
				</div>
				
				<div class="form">
						<div class="label"></div>
						<div class="input">
							<input type="submit" value="承認" />
						</div>
					</div>
				
				<form action="contract_list.html">
					<div class="form">
						<div class="label"></div>
						<div class="input">
							<input type="submit" value="戻る" />
						</div>
					</div>
				</form>
			</div>
		</article>
	</div>

	<footer>
		<small>Copyright(C) 2017 System Shared co., ltd, ALL Rights Reserved</small>
		<!-- small要素は免責・著作権・ライセンス要件などを表す際に使用します。 -->
	</footer>
</body>
</html>